[Unit]
Description=RootRun service
After=network-online.target remote-fs.target

[Service]
Type=simple
ExecStart=/opt/rootrun/rootrun.rb

[Install]
WantedBy=multi-user.target
